body {
  background-color: rgb(50, 101, 244);
}

header:not(#main-header), .layout {
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(36, 88, 231);
  transition: all 0.3s ease 0s;
}

ul:hover {
  background-color: rgb(50, 101, 244);
  transform: translateY(5px);
}

hr {
  height: 15px;
  margin: 0px;
  border: 5px solid black;
  width: 100%;
  z-index: 3;
}

li {
  float: left;
  font-weight: bold;
  font-size: 20px;
}

li, a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover, a:hover, label:hover {
  color: blue;
}

#logged-username {
  display: block;
  float: right;
  margin-top: 10px;
  font-size: 25px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.leaflet-container {
  position: absolute;
  width: 100%;
  top: 5px;
  bottom: 0px;
}

#map-div {
  z-index: -1;
}

.card {
  padding: 30px;
  background-color: rgb(36, 88, 231);
  color: white;
  z-index: 2;
  position: absolute;
  border: 7px solid rgb(17, 55, 161);
  border-radius: 7px;
  transition: all 0.3s ease 0s;
}

.card:hover {
  background-color: rgb(50, 101, 244);
  transform: translateX(-15px);
}

input[type = checkbox] {
  width: 20px;
  height: 20px;
  margin-bottom: 20px;
}

label {
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 20px;
}

#filter-form {
  position: relative;
  float: right;
  margin-right: 40px;
  margin-top: 40px;
  height: 370px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
